<nav>
    <Ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </Ul>
</nav>

<h1>Birds</h1>

<ul>
<% @birds.each do |bird| %>
    <li><%= bird.name %> - <%= bird.species %></li>
<% end %>
</ul>
